<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="consoleLogPattern" value="${CONSOLE_LOG_PATTERN}"/>
    <property name="fileLogPattern" value="${FILE_LOG_PATTERN}"/>

    <property name="serverFileName" value="/var/lianfan/log/stub/info.log"/>
    <property name="serverFileNamePattern" value="/var/lianfan/log/stub/info-%d{yyyy-MM-dd}-%i.log.gz"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${consoleLogPattern}</pattern>
        </encoder>
    </appender>

    <appender name="ServerAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${serverFileName}</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${fileLogPattern}</Pattern>
            <charset>utf8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${serverFileNamePattern}</fileNamePattern>
            <!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <logger name="org.springframework.scheduling.quartz" level="ERROR" additivity="FALSE">
        <appender-ref ref="ServerAppender"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ServerAppender"/> <!-- 所有info级别及以上日志 -->
    </root>

</configuration> 